body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:808px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:492px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:238px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:34px;
  color:#FF0000;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:804px;
  word-wrap:break-word;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:45px;
  width:777px;
  height:196px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:773px;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:251px;
  width:777px;
  height:48px;
  text-align:left;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:773px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:312px;
  width:777px;
  height:32px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  word-wrap:break-word;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:312px;
  width:100px;
  height:16px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:2px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:360px;
  width:777px;
  height:1px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:773px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:371px;
  width:48px;
  height:16px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u213_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:364px;
  width:63px;
  height:30px;
  color:#FFFFFF;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
